@import "../fontawesome/fontawesome.scss";
@import "../fontawesome/solid.scss";
@import "../fontawesome/brands.scss";

$gt-yellow: #EBA900;
$gray0: #181818;
$gray1: #585858;
$gt-blue: #002c58;
$gt-gold: #B3A369;
$mobile-width: 930px;
$offwhite: #fff5e3;
$drop: drop-shadow(0 0 0.75rem black);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: inherit;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  font-family: Inter, sans-serif;
  font-size: 24px;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-align: center;
  color: white;
  background: linear-gradient($gray1, $gray0);
  overflow: hidden;
  direction: rtl;
}


.flex-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#bgvid {
    opacity: .6;
    object-fit: cover;
    width: auto;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

$nav-height: 3em;

// NAV
.nav {
    z-index:99;
    filter: $drop;
    position: fixed;
    top: 0;
    width: 100%;
    height: $nav-height;
    background-color: $gt-blue;
    img {
        float: left;
        height: 120%;
    }
    font-weight: 600;
}


.nav-list {
    // nav-items
    margin-top: .70em;
    direction: ltr;
    li {
        display: inline-block;
        margin-right: 1%;
        padding: 0;
        a {
            margin: 0
        }
    }
}

.nav-borgor {
    display: none;
}


@media only screen and (max-width: $mobile-width) {
    .dropdown {
        &:hover,
        &:focus-within {
            .nav-list {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
    .nav-list {
        transition: opacity .2s ease-in-out 0s;
        opacity: 0;
        pointer-events: none;
        float: right;
        border-radius: 0px 0px 0px 30px;
        padding-top: $nav-height;
        margin-top: 0;
        right: 0;
        padding-right: 1em;
        padding-left: 1em;
        position: absolute;
        background-color: $gt-blue;
        // background-color: fuchsia;
        text-align: right;
        li {
            display: block;
            margin-bottom: 1em;
        }
        li {
            padding: 0;
            a {
                margin: 0
            }
        }
    }
    .nav-borgor {
        z-index: 999;
        display: inline-block;
        margin-right: 20px;
        margin-top: .2em;
        float: right;
        font-size: 2em;
    }
}




.title-container > h1 {
    font-weight: 900;
    font-size: 4em;
    color: $gt-yellow;
    line-height: .1em;
}


.page-title {
    font-size: 2em;
    font-weight: 700;
    color: $offwhite;
    filter: $drop;
}

@media only screen and (max-width: $mobile-width) {
    .title-container > h1 {
      opacity: 0 !important;
      display: none !important;
    }
    .quirk {
        transform: rotateZ(0deg) !important;
    }
    body {
        align-items: flex-start !important;
    }
    .logo {
        float: none !important;
        margin-top: 1em !important;
        width: 10em !important;
    }
}

.quirk {
    z-index: 1;
    // transform: rotateZ(-25deg);
}

.opacity0 {
    opacity: .2;
}

#engage {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.opacity1 {
    opacity: .1;
}

.logo {
    position: relative;
    width: 7em;
    float: right;
    margin-top: -3em;
    z-index: 2;
}

.discord {
    width: 15em;
}

.discord-container {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-weight: 700;
    filter: $drop;
}

.i-grow, .mgp-container {
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}

.links {
    > a {
        z-index: 1;
    }
    display: flex;
    justify-content: space-around;
    width: 15em;
    margin-bottom: 1.5em;
    text-align: center;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    object {
        width: 40px;
        filter: invert(1);
        margin-bottom: -10px;
    }
    .mgp {
        margin-left: -5px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* only required for <img /> */
        z-index: -1000;
    }
    
    .mgp-container {
        display: inline-block;

        // The mgp logo is a little off center from the others, this corrects it.
        margin-top: 6px;

        position: relative;
        width: 2.4em;
        padding-bottom: 60%;
        z-index: 1;
        vertical-align: middle;
        span {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
        }
    }
}

.centered-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.title-container {
    justify-content: center;
}

.headline-container {
    width: fit-content;
    filter: $drop;
}

.ty-is-a-god {
    width: 80vh;
    margin-bottom: -5vh;
    z-index: -99;
}

// scrollbar

/*
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
*/

::-webkit-scrollbar-track
{
    display: none;
}
::-webkit-scrollbar
{
    display: none;
}
::-webkit-scrollbar-thumb
{
    display: none;
}